body{
    background-color: black;
}
/* shear-style */

.colorwi{
    color: white;
}
.color2{
    color: rgba(255, 255, 255, 0.5);
}
.img-round{
    border-radius: 50%;
}
.pading{
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left:20px ;
    padding-right: 185px;
    border-radius: 9px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
}
.rs{
    position: absolute;
    bottom: 12px;
    top: 200px;
    left: 10px;
   
}
.sr{
    position: absolute;
    top: 225px;
    left: 10px;
}
#style{
    background-color: brown;
    border-radius: 50%;
}
/* header=style */
.nevber{
    display: flex;
    justify-content: space-around;
    margin: 57px;
}
.nev-title{
    color: rgba(230, 83, 60, 1);
    font: size 2.25rem; ;
    font-style: italic;
    font-weight: 700;
}
.nev-card{
    display: flex;
    justify-content: center;
    gap: 47px;
    border-radius: 39px;
    border: solid .50px rgba(255, 255, 255, 0.1) ;

}
.nev-button{
    height: 38px;
    width: 92px;
    border-radius: 46px;
    color: white;
    background-color:rgba(230, 83, 60, 1) ;
    border: none;
    justify-content: center;
    padding-left:20px ;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 20px;
    align-items: center;
}
/* joins-style */
.joins{
    display: flex;
    justify-content: space-around;
    /* box-shadow:10px 10px white; */
}
.dis-title{
    font-size: 4.875rem;
}
.dis-dis{
    font-size: 1rem;
}
.join-dis{
    gap: 28px;
}
.join{
    border-radius: 42px;
    border: none;
    background-color: rgba(230, 83, 60, 1);
     width: 224px;
    height: 54px;
    color: white;
}
.app{
    border-radius: 42px;
    border: solid 1px white;
    background-color: black;
    color: white;
    width: 224px;
    height: 54px; 
}

.dis-button{
    gap: 14px;
    display: flex;
    justify-content: space-around;
}
#video{
    width: 209px;
    height: 96px;
    border-radius: 12px;
    border: none;
    background-color:rgba(255, 255, 255, 0.1) ;
     margin-top: -163px; 
    margin-right: -268px;
    margin-left: -123px;
   
    
  
}
.join-pic{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.free{
    width: 193px;
    height: 98px;
    border-radius: 12px;
    border: none;
    background-color:rgba(255, 255, 255, 0.1) ;
    margin-top: -457px;
    margin-left: 230px;
    
}
/* havit-style */
.title{
    text-align: center;
}
.img{
    display: grid;
    grid-template-columns: repeat(4,4fr);
    align-items: center;
    margin-top: 100px;
}
.img-1{
    text-align: center;
}
.habits{
    margin-top: 100px;
}
/* run-style */
.imgs{
   overflow: hidden;
   border-radius: 18px;
   height: 312px;
   width: 366px;
   /* position: absolute;
   left: 1277px;
   right: 32px; */
   margin-left:177px;
   margin-top: 40px;
}
.imgse{
    object-fit: cover;
    transform: scale(2.5) translate(-61px, 12%);
    border-radius: 28px;
    height: 212px;
    width: 366px;

}
.title1{
    font-size:3rem ;
}
.run{
    display: flex;
    justify-content: space-arounds;
    background-color: rgba(255, 255, 255, 0.1);
    /* justify-content: space-around; 
    align-items: center;
    width: 1060px;
    height: 371px; */
    max-width: 1440px;
    margin: 100px auto;
   gap: 169px;
}
.img6{
    
    /* width: 100%; */
    border-radius: 18px;
    height: 312px;
    width: 366px;
}
.run-button{
    padding-top: 16px;
    padding-left: 71px;
    padding-bottom: 16px;
    padding-right: 71px;
    color: white;
    background-color:rgba(230, 83, 60, 1) ;
    border-radius: 42px;
    border: none;
}
.title-run{
    margin-left: 56px;
    margin-top: 40px ;
    margin-bottom: 40px;
}
/* bmi-style */
.bmi{
    background-color:rgba(255, 255, 255, 0.1);
    margin-bottom:89px ;
}
table{
    
 border-collapse: collapse;
    width: 310px; 
    height: 216px; 
      
      
}
td{
    border: 1px solid rgba(255, 255, 255, 0.1);
}
tr{
    
}
.bmifont{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
.bmi-card-title{
    color: white;
    font-size: 2rem;
}
.bmi-title{
    font-size: 3rem;
    font-weight: bold;

}
.bmi-cul{
    align-items: start;
    text-align: center;
    margin-bottom: 88px;
}
.bmi-card2{
    display: flex;
    justify-content: space-around;
    padding-top:49px ;
   padding-bottom: 52px;
}
.form-bmi{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-column: span 2;
}
.bmi-buton{
    color: white;
    padding-left: 71px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 71px;
    border-radius: 43px;
    border: none;
    background-color: rgba(230, 83, 60, 1);
    margin-top: 35px;
}
.padding2{
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left:20px ;
    /* padding-right: 378px; */
    /* width: 577px; */
    border-radius: 9px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
}
/* meet-style */
.meet{
    text-align: center;

}
.meets{
    margin-top: 90px;
}


.meet-img{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    margin-left: auto;
    margin-right: auto;
    padding-top:20px ;
    padding-left: 20px;
    padding-right: 20px;
  
}
.img25{
    width:326px ;
    height:272px ;
    border-radius: 18px;
    
}
.meet-img-1{
    position: relative;
}
.meet-img{
     height:640px ;
    background-color:rgba(255, 255, 255, 0.1) ;
    width:1060px ; 
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 20px;


}
.meet-title{
    font-size: 2.5rem;
}

 /* footer */
footer{
    background-color:rgba(255, 255, 255, 0.1) ;
}
.footermain{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    /* justify-content: space-around; */
    /* padding:   110px auto; */
    gap: 120px;
    margin-bottom: 66px;
   
}
.footer-title{
    font-size: 4rem;
    font-style: italic;
    font-weight: bold;
    color:rgba(230, 83, 60, 1) ;
}
.footer-fi{
    margin-left: 222px;
}
.footer-get{
    margin-top: 66px;
}
hr{
  max-width: 1440px;
  
}
.all{
    text-align: center;
    padding-bottom: 35px;
}

/* responsiv */
@media screen and (max-width:576px) {
    #video{
        width: 209px;
        height: 96px;
        border-radius: 12px;
        border: none;
        background-color:rgba(255, 255, 255, 0.1) ;
         margin-top: -163px; 
        margin-right: -268px;
        margin-left: -3px;
       
        
      
    }
    .join{
        border-radius: 42px;
        border: none;
        background-color: rgba(230, 83, 60, 1);
         width: 179px;
        height: 54px;
        color: white;
    }
    .app{
        border-radius: 42px;
        border: solid 1px white;
        background-color: black;
        color: white;
        width: 169px;
        height: 54px; 
    }
    
    .nev-card{
        display: none;  
    }
    .joins{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .dis-title{
        font-size: 4rem;
    }
    .img{
        grid-template-columns: repeat(1,1fr);
    }
    .footermain{
        /* display: grid; */
        grid-template-columns: repeat(1, 1fr);
        gap: 00px;
        
        /* margin-bottom: 66px; */
       
    }
    .bmi-card2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .meet-img{
        display: grid;
        grid-template-columns: repeat(1,1fr);}
        .meet-img{
            height:100% ;
           width:100% ; 
           margin-top: 100px;
           margin-bottom: 100px;
           gap: 20px;
       }
       .run{
        display:grid;
        grid-template-columns: repeat(1,1fr);
        gap: 0px;
       }
       .imgs{
        overflow: hidden;
        border-radius: 18px;
        height: 312px;
        width: 366px;
        /* position: absolute;
        left: 1277px;
        right: 32px; */
        margin-left:17px;
        margin-top: 40px;}
    .pading{
       
        padding-left:10px ;
        padding-right: 1px;
    }
    .free{
        width: 193px;
        height: 98px;
        border-radius: 12px;
        border: none;
        background-color:rgba(255, 255, 255, 0.1) ;
        margin-top: -457px;
        margin-left: 180px;
        
    }
    .footer-fi{
        margin-left: auto;
    }
}