body{
    background-color: black;
}
/* shear-style */

.colorwi{
    color: white;
}
/* header=style */
.nevber{
    display: flex;
    justify-content: space-around;
    margin: 57px;
}
.nev-title{
    color: rgba(230, 83, 60, 1);
    font: size 2.25rem; ;
    font-style: italic;
    font-weight: 700;
}
.nev-card{
    display: flex;
    justify-content: center;
    gap: 47px;
    border-radius: 39px;
    border: solid .50px rgba(255, 255, 255, 0.1) ;

}
.nev-button{
    height: 38px;
    width: 92px;
    border-radius: 46px;
    color: white;
    background-color:rgba(230, 83, 60, 1) ;
    border: none;
    justify-content: center;
}